.recipeCard {
  /* display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center; */
display: inline-block;
align-items: center;
}

.card-image {
  margin-top: 60px;
  align-items: center;
  margin-left: 25px;
  width: 380px;
  height: auto;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
}

.name {
  text-align: center;
  color: rgb(red, green, blue);
  padding-top: 15px;
  font-family: cursive;
  position: relative;
}

.img {
  width: 300px;
  margin-left: 35px;
  border-radius: 50px;
  height: 160px;
}

.type-diet {
  text-align: center;
  color: darkblue;;
  padding-bottom: 40px;
  font-family: cursive;
  position: relative;
}

.healthScore {
  text-align: center;
  color: darkblue;;
  padding-top: 15px;
  font-family: cursive;
}