.content-back {
  display: flex;
  justify-content: center;
}

.btn-volver {
  background-color: #b4692c;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: 6px 5px 24px #666666;
  color: #fafafa;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: cursive;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  display: flexbox;
  justify-content: center;
  margin-left: 75px;
}

.cardDetail {
  display: inline-block;
  align-items: center;
  /* display: flex;
  justify-content: center; */
  position: relative;
  width: 600px;
}

.card-img {
  display: inline-block;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  margin-left: 35px;
  width: 380px;
  height: auto;
  border-radius: 30px;
  background: #e0e0e07a;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
  position: relative;
  width: 700px;
  backdrop-filter: blur(10px); /* efecto de vidrio */
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-right: 1px solid rgba(25,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.name {
  text-align: center;
  color: rgb(255, 0, 0);
  padding-top: 15px;
  font-family: cursive;
  position: relative;
}

.containImage img{
    object-fit: cover;
    height: 250px;
    width: 610px;
    border-radius: 50px;
    padding: 10px;
}

.img {
  width: 300px;
  margin-left: 35px;
  border-radius: 50px;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
}

.types {
  text-align: center;
  color: darkblue;
  padding-top: 1px;
  font-family: cursive;
  position: relative;
}

.dietss {
  text-align: center;
  color: darkblue;
  padding-top: 1px;
  font-family: cursive;
  position: relative;
}

.hs {
  text-align: center;
  color: darkblue;
  padding-top: 1px;
  font-family: cursive;
  position: relative;
}

.summary {
  text-align: center;
  color: darkblue;
  padding-top: 1px;
  font-family: cursive;
  position: relative;
}

.steps {
  text-align: center;
  color: darkblue;
  padding-top: 1px;
  font-family: cursive;
  position: relative;
}