.btn-vol {
  display: flex;
  justify-content: center;
}

.vol {
  background-color: #b4692c;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: 6px 5px 24px #666666;
  color: #fafafa;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: cursive;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  display: inline-flexbox;
  justify-content: center;
  /* margin-left: 90px; */
}

.content-general {
  /* width: 350px;
  height: 360px;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all .2s;
  margin-left: 485px;
  text-align: center;
  display: flexbox;
  justify-content: center; */
  text-align: center;
  width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:rgba(68, 54, 13, 0.852);
  display: block;
}

.divName {
  text-align: center;
  display: flex;
  margin-left: 20px;
  width: 100px;
}

.divSummary {
  text-align: center;
  display: flex;
  margin-left: 20px;
  width: 100px;
}

.divType {
  text-align: center;
  display: flex;
  margin-left: 20px;
}

.divHs {
  text-align: center;
  display: flex;
  margin-left: 20px;
}

.divSteps {
  text-align: center;
  display: flex;
  margin-left: 20px;
}

.divImage {
  text-align: center;
  display: flex;
  margin-left: 20px;
}

.divDiets {
  text-align: center;
  display: flex;
  margin-left: 20px;
}

.title-recipe {
  color: white;
  font-family: cursive;
  text-align: center;
}

.formulario {
  text-align: center;
  color: white;
  font-family: cursive;
}

.lab-name {
  /* text-align: left; */
  padding-right: 15px;
  margin-right: 10px;
  width: 100px;
}

.lab-summary {
  padding-right: 15px;
  margin-right: 10px;
  width: 100px;
}

.lab-hs {
  padding-right: 15px;
  margin-right: 10px;
}

.lab-steps {
  padding-right: 15px;
  margin-right: 10px;
}

.btn-c {
  background-color: #b4692c;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: 6px 5px 24px #666666;
  color: #fafafa;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: cursive;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  display: flexbox;
  justify-content: center;
}

/* .btn-create {
  text-align: center;
  margin-top: 10px;
} */

.lii {
  font-family: cursive;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.inputAll {
  margin-left: 20px;
  display: inline-block;
  justify-content: center;
  margin-top: 15px;
  border-radius: 5px;
  position: absolute;
  margin-left: 115px;
}

.errors {
  text-align: justify;
  position: absolute;
  margin-top: 35px;
  margin-left: 118px;
  color: lightblue;
}
