.searchBar {
  margin-top: 15px;
  text-align: center;
  margin-left: 360px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  outline: none;
  border-color: rgba(45, 82, 105, 0.566);
  /* background-color: #fff; */
  box-shadow: 0 0 0 4px rgba(48, 86, 147, 0.1);
}

.searchBar input {
    font-size: 15px;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -7rem;
    /* cursor: pointer; */
    margin-left: 100px;
  }


  
  .searchBar input:hover, input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
.searchBar input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
.searchBar input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
    margin-top: 1rem;
  }